page-add-task-modal {
    ion-list{
        height: 100%;
    }
    .container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 50px;
        
        >*{
            margin-bottom: 30px;
        }

        .submit-button{
            width: 100%;
        }

        ion-item{
            &.item-md-danger, &.item-ions-danger, &.item-wp-danger{
                background-color:transparent;
                color:color($colors,danger);
                margin-top:-40px;
                margin-bottom:-5px;
                &[hidden]{
                    display: block !important;
                    opacity: 0;
                    visibility: hidden;
                    transition-property: opacity, visibility;
                    transition-duration: 0.3s;
                    transition-delay: 0.3s;
                }

            }
        }
    }
}
