<!--
  Generated template for the TodosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>To Do List</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h3>My List</h3>

  <ion-list>
    <ion-item-sliding *ngFor="let todo of todoServices.todos | prioritizedTodosPipe"> <!-- Accede a la lista 'todos' de todos.ts-->
      <ion-item  [ngStyle]="setTodoStyles(todo)">
        <ion-label> {{todo.description}} </ion-label> <!-- Muestra parametros en las listas -->
        <ion-checkbox color="gray" [checked]="todo.isDone" (click)="toogleTodo(todo)"></ion-checkbox>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="showEditTodo(todo)">
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="removeTodo(todo)"> <!-- Crear un evento click para mandar llamar un metodo en el .ts -->
            <ion-icon name="remove-circle"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-divider *ngIf="(todoServices.todos | doneTodosPipe).length > 0">
      Done tasks
    </ion-item-divider>
    <ion-item *ngFor="let todo of todoServices.todos | doneTodosPipe" [ngStyle]="setTodoStyles(todo)">
      <ion-label color="light"> {{todo.description}} </ion-label> <!-- Muestra parametros en las listas -->
      <ion-checkbox color="light" [checked]="todo.isDone" (click)="toogleTodo(todo)"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>


<!-- Boton flotante para crear una nueva tarea
     Tiene su icono y su metodo ubicado en todos.ts 
-->
<ion-fab bottom right>
  <button ion-fab (click)="showAddTodo()"> <ion-icon name="add"></ion-icon> </button>
</ion-fab>
